*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root{
    --background-color:#e6e9f0;
}
html{
    
    font-size: 62.5%;
}
body{
    background-color: var(--background-color);
    box-sizing: border-box;
}
